*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    background: #10101B;
    font-family: 'Courier Prime', monospace;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: #495BC3;
}

.card {
    height: 600px;
    background: #222436;
    border: 0;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form-control {
    font-size: 20px;
    padding: 25px 15px;
    
    background-color: #3D4153;
    border: none;
    border: 2px solid #858299;
    border-radius: 10px;
}

.form-control:focus {
    background-color: #3D4153;
    border: 2px solid #495BC3;
    outline: 0;
    box-shadow: none;
}

.generate-btn {
    margin-top: 130px;
    width: 225px;
    height: 225px;
    padding: 50px;
    border-radius: 50%;
    border: 10px solid #39458C;
    background-color: #495BC3;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
}

.generate-btn:focus,
.generate-btn:hover,
.submit-btn:focus,
.submit-btn:hover {
    color: #ffffff;
    outline: none;
    box-shadow: none;
}

.button {
    width: 25%;
    background: #425062;
    color: #fff;
    padding: 20px 0;
    margin: 5px;
    display: inline-block;
    font-size: 25px;
    vertical-align: middle;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background: #495BC3;
}

.submit-btn {
    margin-top: 20px;
    padding: 15px 60px;
    border-radius: 10px;
    background: #495BC3;
    color: #fff;
}

.notify-section {
    max-width: 600px;
    margin: 0 auto;
}

.notify {
    color: #fff;
    margin: 0 auto;
    background: #222436;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    line-height: 1;
    display: none;
}

.action-left {
    color: #FF3C5F;
    margin-top: 10px;
}